<h2>Celebrities</h2>
<ul>
    {{#each celebrities}}
        <li>
            {{this.name}}
        </li>
    {{/each}}
</ul>
<a href="/celebrities/create">Add celebrity</a>
<a href="/">Go back</a>